page-leccion {
  #defaultCanvas1{
    position: fixed;
    top: 12%;
  }
}

.opcioness{
  position: absolute;
  z-index: 9999;
  height: 45px;
  width: 45px;
  top: 3%;
  color: white !important;
  font-size: 5px;
}

.restart{
  left: 3%;
}

.pausa {
  right: 10%;
}

.play {
  right: 3%;
}

.panner{
  position: fixed;
  width: 50%;
  left: 25%;
  top: 10%;
}

.tecla {
  position: fixed;
  background-color: #f2f2d9;
  height: 23%;
  width: 8%;
  top: 72%;
  z-index: 2;
}

.sostenida {
  position: fixed;
  background-color: black;
  height: 15%;
  width: 3%;
  top: 72%;
  z-index: 3;
}

#c{
  left: 14.5%;
}

#d {
  left: 23.5%;
}

#e {
  left: 32.5%;
}

#f {
  left: 41.5%;
}

#g {
  left: 50.5%;
}

#a {
  left: 59.5%;
}

#b {
  left: 68.5%;
}

#c2 {
  left: 77.5%;
}

#cS {
  left: 20.7%;
}

#dS {
  left: 29.7%;

}

#fS {
  left: 47.7%;
}

#gS {
  left: 56.7%;
}

#aS {
  left: 65.7%;
}
