*~
*.sw[mnpcod]
*.log
*.lock
*.tmp
*.tmp.*
log.txt
*.sublime-project
*.sublime-workspace

.idea/
.vscode/
.sass-cache/
.versions/
coverage/
collection/
dist/
node_modules/
tmp/
temp/
core/theme-builder/
core/test-components/
$RECYCLE.BIN/

.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate
.env

.package.tmp.json

pianerino/src/themes/version.scss
pianerino/scripts/e2e/webpackEntryPoints.json
pianerino/scripts/build/e2e-generated-tsconfig.json
*.css.ts

stencil-stats.json

# demo stuff
pianerino/demos/node_modules
pianerino/demos/polyfills
pianerino/demos/css
pianerino/demos/fonts
pianerino/demos/src/**/*.js
pianerino/demos/src/**/*.map
pianerino/demos/src/**/*.ngfactory.ts
pianerino/demos/src/**/*.d.ts
pianerino/demos/src/**/*.metadata.json
pianerino/demos/src/**/*.css.shim.ts
