page-home {

}

// .titulo{
//   font-size: 10%;
//   text-decoration: underline;
// }

.cuenta {
  position: absolute;
  right: 0%;
  top: -45%;
  height: 150%;
}

.icono {
  line-height: 20vh !important;
  height: 100%;
}

p{
  text-align: center;
}
