page-anadir-leccion {
  #defaultCanvas1{
    position: fixed;
    top: 12%;
  }
}
.opciones{
  position: absolute;
  z-index: 9999;
  height: 50px;
  width: 50px;
  top: 3%;
  color: white !important;
  font-size: 5px;
}

.subir{
  left:3%;
}

.borrar{
  right: 10%;
}

.todo{
  right: 3%;
}

.panner{
  position: fixed;
  z-index: 9999;
  width: 50%;
  left: 25%;
  top: 10%;
}
