page-anadir-leccion {
  #defaultCanvas1{
    position: fixed;
    top: 12%;
  }
}
.opciones{
  position: absolute;
  z-index: 9999;
  height: 50px;
  width: 50px;
  top: 3%;
  color: white !important;
  font-size: 5px;
}

.subir{
  left:7%;
}

.borrar{
  left: 17%;
}

.todo{
  left: 27%;
}
