page-anadir-leccion {
  #defaultCanvas1{
    position: fixed;
    top: 12%;
  }
}
.opciones{
  position: absolute;
  z-index: 9999;
}

.subir{
  left:10%;
}

.borrar{
  left: 25%;
}

.todo{
  left: 42%;
}
